/*
 * Common
 */

ul{
    margin-left: 0px;
    padding-left: 0px;
}
li{
    list-style: none;
    margin-left: 0px;
}

.column-small{
    width: 10%;
}

.selected {
    opacity: 0.5;
}

div.hidden {
    display: none;
}

/*
 * Tasks
 */

#tasks-filter {
    margin-bottom: 10px;
}

.logst-well{
    padding: 5px 15px 15px;
}

/*
 * Assets
 */

.asset-task-icons{
    display: inline;
    text-align: left;
}
.asset-task{
    position: relative;
    border-left: 5px solid #dddddd;
    padding-left: 5px;
    margin-top: 5px;
}

.asset-task-user{
    color: gray;
    font-size: 8pt;
}
.asset-task-user:before{
    content: '\2014\00a0\00a0' /* mdash space space */
}

.asset-task-controls{
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.3;
}

.edit-asset-task-description{
    display: none;
}

.edit-task{
    right: 20px;
}

.asset-table>thead>tr {
    border-bottom: 1px solid #ccc;
}
.asset-table>tbody>tr {
    border-bottom: 1px solid #ccc;
}

#edit-asset-task{
    display: none;
}

td.centered {
    text-align: center;
}

tr.asset-mng-icon-exclamation-sign span{
    color: red;
}

/*
 * Activity
 */
#atom-feed-link{
    float: right;
    font-size: 10pt;
    color: gray;
    vertical-align: bottom;
}

.activity {
    position: relative;
    border-top: 3px solid #ddd;
    padding-top: 5px;
    margin-top: 10px;
}
.activity-controls {
    position: absolute;
    top: 5px;
    right: 0px;
    opacity: 0.3;
}