@()(implicit ctx: context.AssetMngContext)

@main(Some(ctx.user), ctx.m, "assets", "assets"){
    <div class="well well-small logst-well">
        <h4><!-- Could not come up with a good title, but needed anyway for spacing --></h4>

        <div class="hidden alert alert-success" id="alert-add-asset">
            <a class="close" href="#">&times;</a>
            <span></span>
        </div>

        <div>
            <i class="icon-plus-sign"></i>
            <a id="link-add-asset" href="#">@ctx.m.views.assets.addAsset</a>

            <div id="form-add-asset"
                  class="modal hide fade"
                  tabIndex="-1"
                  role="dialog"
                  aria-hidden="true">
                <div class="modal-header">Add/Update <span data-bind="text: hostname"></span></div>
                <form id="add-asset-form" data-bind="submit: save">
                    <div class="modal-body">
                        <fieldset>
                            <div class="control-group">
                                <label>@ctx.m.asset.parentHostname</label>
                                <div class="controls">
                                    <select data-bind="options: assetList.assets, optionsText: 'hostname', value: parent, optionsCaption: '@ctx.m.asset.physicalServer'">
                                    </select>
                                </div>
                            </div>
                            <div class="control-group" data-bind="css: { error: errors.hostname }">
                                <label>@ctx.m.asset.hostname</label>
                                <div class="controls">
                                    <input data-bind="value: hostname">
                                    <p class="help-block" data-bind="text: errors.hostname"></p>
                                </div>
                            </div>
                            <div class="control-group" data-bind="css: { error: errors.ip }">
                                <label>@ctx.m.asset.ip</label>
                                <div class="controls">
                                    <input data-bind="value: ip">
                                    <p class="help-block" data-bind="text: errors.ip"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label>@ctx.m.asset.description</label>
                                <div class="controls">
                                    <textarea rows="3" cols="30" data-bind="value: description"></textarea>
                                </div>
                            </div>
                            <div class="control-group" data-bind="css: { error: errors.admin }">
                                <label>@ctx.m.asset.admin</label>
                                <div class="controls">
                                    <input data-bind="value: admin">
                                    <p class="help-block" data-bind="text: errors.admin"></p>
                                </div>
                            </div>
                            <div class="control-group" data-bind="css: { error: errors.tags }">
                                <label>@ctx.m.asset.tags</label>
                                <div class="controls">
                                    <input id="tags" data-bind="value: tags">
                                    <p class="help-block" data-bind="text: errors.tags"></p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-success" type="submit" value="@ctx.m.buttons.save">
                        <a class="btn btn-danger" data-dismiss="modal">
                            <i class="icon-remove"></i>
                            @ctx.m.buttons.cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <i class="icon-circle-arrow-down"></i>
            @ctx.m.views.assets.importAssets
         </div>
    </div>

    <div id="assets-list">
        <div id="asset-filter">
            <input type="text" size="30" data-bind="value: filter, valueUpdate: 'afterkeydown'" class="search-query" placeholder="Filter"><i class="icon-search"></i>
        </div>

        <!-- table table-striped table-bordered table-condensed  -->
        <table id="myTable" class="tablesorter table table-striped table-bordered table-condensed" data-bind="triggerUpdate: filteredAssets">
            <thead>
                <tr>
                    <th>@ctx.m.asset.hostname</th>
                    <th>@ctx.m.asset.ip</th>
                    <th>@ctx.m.asset.description</th>
                    <th>@ctx.m.asset.admin</th>
                    <th>@ctx.m.asset.usageStatus</th>
                    <th>@ctx.m.asset.status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="template: { foreach: filteredAssets, afterRender: decorate }">
                <tr data-bind="attr: { class: 'asset-mng-' + status_icon }">
                    <td>
                        <span data-bind="text: hostname"></span>
                        <!-- ko if: parent() != undefined -->
                            <span class="vm-parent-name">
                                &#64;<span data-bind="text: parent().hostname"></span>
                            </span>
                        <!-- /ko -->
                        <div data-bind="foreach: tags">
                           <span class="label" data-bind="text: $data"></span>
                        </div>
                    </td>
                    <td><span data-bind="text: ip"></span></td>
                    <td><span data-bind="text: description"></span></td>
                    <td><span data-bind="text: admin"></span></td>
                    <td><span data-bind="text: usageStatus"></span></td>
                    <td class="centered">
                        <a href="#" class="asset-status" rel="popover" data-trigger="hover"
                           data-bind="attr: { 'data-content': status_message, title: status_title }">
                            <i data-bind="attr: { class: status_icon }"></i>
                        </a>
                        <!-- add hidden text to make the field sortable -->
                        <div class="hidden" data-bind="text: status_icon"></div>
                    </td>
                    <td class="centered">
                        <a href="#"
                           class="edit-asset"
                           rel="tooltip"
                           data-bind="click: $parent.editAsset"
                           title="@ctx.m.views.tasks.edit"><i class="icon-pencil"></i></a>
                        <a href="#"
                           class="delete-asset"
                           data-bind="click: $parent.removeAsset"
                           rel="tooltip"
                           title="@ctx.m.views.assets.delete">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
