@(m: i18n.Messages)

@main(None, m, "login", "login"){
    <div class="hero-unit">
        <h1>@m.login.header</h1>
        <p>@m.login.message</p>
        <p>
            <form id="login-form" class="form-inline" action="/login" method="POST">
                @m.login.userName
                <input id="login-form-name" type="text" name="name" value="">
                <input id="login-form-lang" type="hidden" name="lang" value="en">
                <a class="btn btn-primary" onclick="AM.submitForm('en');">
                    <img src='@routes.Assets.at("images/en.png")'>
                </a>
                <a class="btn btn-primary" onclick="AM.submitForm('ja');">
                     <img src='@routes.Assets.at("images/jp.png")'>
                </a>
                <a class="btn btn-primary" onclick="AM.submitForm('ru');">
                     <img src='@routes.Assets.at("images/ru.png")'>
                </a>
            </form>
        </p>
    </div>
}