@(user: Option[String], m: i18n.Messages, title: String, page: String = "")(content: Html)

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/tablesorter.css")'>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/knockout-2.1.0.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-1.7.2.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.tablesorter.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap-typeahead.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap-tooltip.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap-popover.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/model.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/icons.js")'></script>
    @if(!page.isEmpty){
    <script type="text/javascript" src='@routes.Assets.at("javascripts/"+page+".js")'></script>
    }
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">
              Logst Assets
            </a>

            <ul class="nav">
                @for(link <- List((m.views.tasks.title,"tasks"),
                                  (m.views.assets.title, "assets"),
                                  (m.views.activity.title, "activity"))){
                    @if(page.equals(link._2)){
                        <li class="active">
                    }else{
                        <li>
                    }
                        <a href="/@link._2">@link._1</a>
                    </li>
                }
            </ul>
            <ul class="nav pull-right">
                <li>
                @user match {
                    case Some(name) => {
                        <a href="@routes.Application.logout">@m.main.logoutLink(name)</a>
                    }
                    case None => {
                        <a href="@routes.Application.login">@m.main.login</a>
                    }
                }
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    @content
</div>
</body>
</html>
