@(user: String)(implicit m: i18n.Messages)

@main(Some(user), "status", "status"){
    <div class="well">
        <div>
            <i class="icon-plus-sign"></i>
            <a id="link-add-task" href="#">@m.views.tasks.addTask</a>

            <div class="hidden alert alert-success" id="alert-add-task">
                <a class="close" href="#">&times;</a>
                <span></span>
            </div>

            <div id="form-add-task" class="hidden">
                <form data-bind="submit: save">
                    <fieldset>
                        <div class="control-group">
                            <label>@m.asset.hostname</label>
                            <div class="controls">
                                <select data-bind="options: assets, optionsText: 'hostname', value: asset">
                                </select>
                            </div>
                        </div>
                        <div class="control-group" data-bind="css: { error: errors.description }">
                            <label>@m.task.description</label>
                            <div class="controls">
                                <textarea rows="3" cols="30" data-bind="value: description"></textarea>
                                <p class="help-block" data-bind="text: errors.description"></p>
                            </div>
                        </div>
                        <div class="control-group" data-bind="css: { error: errors.tags }">
                            <label>@m.task.tags</label>
                            <div class="controls">
                                <input data-bind="value: tags">
                                <p class="help-block" data-bind="text: errors.tags"></p>
                            </div>
                        </div>
                        <div class="control-group" data-bind="css: { error: errors.icons }">
                            <label>@m.task.icons</label>
                            <div class="controls">
                                <input id="icons" data-bind="value: icons">
                                <p class="help-block" data-bind="text: errors.icons"></p>
                            </div>
                        </div>
                        <input class="btn btn-success" type="submit" value="@m.buttons.save">
                        <a id="btn-cancel-add-task" class="btn btn-danger">
                            <i class="icon-remove"></i>
                            @m.buttons.cancel
                        </a>
                    </fieldset>
                </form>
            </div>
        </div>
        <div>
            <i class="icon-circle-arrow-down"></i>
            @m.views.assets.importAssets
         </div>
    </div>

    <div>
        <input type="text" size="30" class="search-query" placeholder="Filter"><i class="icon-search"></i>
    </div>

    <div id="tasks-list">
        <ul data-bind="foreach: taskGroups">
            <li>
               <div class="well">
                   <h3 data-bind="with: asset">
                       <span data-bind="text: hostname"></span>
                   </h3>
                   <!-- ko if: tasks().length == 0 -->
                   <ul>
                       <li>
                           <i class="icon-ok-circle"></i>
                           @m.asset.available
                       </li>
                   </ul>
                   <!-- /ko -->
                   <ul data-bind="foreach: tasks">
                       <li>
                           <div class="asset-task">
                               <div class="asset-task-icons" data-bind="foreach: icons">
                                   <i data-bind="attr: { 'class': 'icon-' + $data }"></i>
                               </div>
                               <span data-bind="text: description"></span>
                               <div data-bind="foreach: tags">
                                   <span class="label" data-bind="text: $data"></span>
                               </div>
                               <div class="asset-task-user">
                                   <i class="icon-user"></i>
                                   <span data-bind="text: user"></span>
                                   <span data-bind="text: date"></span>
                               </div>

                               <div class="asset-task-controls" data-bind="click: $parent.removeTask">
                                    <a href="#"><i class="icon-trash"></i></a>
                               </div>
                           </div>
                       </li>
                   </ul>
               </div>
            </li>
        </ul>
    </div>
}